.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.row {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: scroll;
}

.card {
  margin: 15px;
  width: 20rem;
  box-shadow: 10px 10px 15px #e8e8e8;
  transition: all 0.5s ease;
}

.card-columns .card:hover {
  box-shadow: 3px 3px 30px rgba(0,0,0,0.5);
}

.card-deck .card:hover {
  box-shadow: 3px 3px 30px rgba(0,0,0,0.5);
}

.card-img-top {
  width: 100%;
}

#profile {
  width: 100%;
  margin: 0;
}

.pane {
  margin: 0;
  padding: 0;
}

.scroll-section {
  height: 100vh;
  overflow: scroll;
}

.card-developer .card-img-top {
  cursor: pointer;
}
